---
export interface Props {
	title: string,
	body: string,
	href: string,
	authors: { name: string; github: string }[],
	source: string,
}
const { href, title, body, authors, source } = Astro.props;

const list = authors.map(({ name, github }) => {
	return `<span class="author"><a href=${github}>${name}</a></span>`
});
const formatter = new Intl.ListFormat('en', { style: 'long', type: 'conjunction' });
const authorsList = formatter.format(list);

---

<div class="link-card line-thin">
	<a href={href} class="no-animation">
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
	</a>

	<p class="authors" set:html={authorsList}>
	</p>
	<p>
		{body}
	</p>
	<a href={source} class="source">
		<span>source <span>&rarr;</span></span>
	</a>
</div>
<style>
	:root {
		--link-gradient: linear-gradient(45deg, var(--primary-color), var(--secondary-color) 30%, var(--color-border) 60%);
	}

	.link-card {
		list-style: none;
		display: flex;
		flex-direction: column;
		padding: 1rem;
		background-image: var(--link-gradient);
		background-size: 400%;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		background-color: white;

	}

	.link-card>a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		color: var(--text-color);
	}

	h2 {
		margin: 0;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}

	p {
		margin-top: 0.75rem;
		margin-bottom: 0;
	}

	h2 span {
		display: inline-block;
		transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
	}

	.link-card:is(:hover, :focus-within) {
		background-position: 0;
	}

	.link-card:is(:hover, :focus-within) h2 {
		color: var(--primary-color);
	}

	.link-card:is(:hover, :focus-within) h2 span {
		transform: translateX(2px);
	}

	a.no-animation {
		background: none;
	}

	a.no-animation:hover {
		background-position: 0;
	}

	.author>a {
		color: var(--red-crayola);
		text-decoration: underline !important;
		margin-right: 0.5rem;
	}

	a.source {
		font-size: 1rem;

		text-decoration: underline !important;
	}

	/* a.source:hover {
		font-weight: bold;
	} */
</style>